
img{
    max-width:100%;
    max-height:100%;
    
}

#canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
h1,h2 {
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}

.tittle{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.content {
    opacity: 1;
    display:flex;
    background-color:white;
    border-radius: 20px;
    box-shadow: 1px 1px 100px 5px #969696;
    padding: 20px;
    
    margin-top:50px;
    margin-left: 25%;
    margin-right: 25%;
    

}

.social{
    display:flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
}
.box {
    padding: 20px;
    
    
    flex: 1;
}

.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@media screen and (min-width:0px) {
    h1{
        font-size:24;
    }
    h2{
        font-size:20;
    }
    .content{
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media screen and (min-width:1200px) {
    h1{
        font-size:30;
    }
    h2{
        font-size:26;
    }
    .content{
        margin-left: 15%;
    margin-right: 15%;
    }
}
@media screen and (min-width:1800px) {
    h1{
        font-size:35;
    }
    h2{
        font-size:30;
    }
    .content{
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (min-width: 2000px) {
    h1{
        font-size:40;
    }
    h2{
        font-size:35;
    }
    .content{
        margin-left: 25%;
        margin-right: 25%;
    }
  }

  